body{
  margin: 0;
  padding: 0;
  background-color:darkgray;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width:450px;
  padding: 40px;
  background-color:aliceblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.input-container{
  width: 100%;
  display:flex;
  align-items: center;
  border:2px solid #70e6f3;
  border-radius: 10px;
  overflow: hidden;
}
.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 25px;
  outline: none;
  padding: 20px;
  
}
.search-icon{
padding: 20px;
height: 30px;
background-color: #fff;
cursor: pointer;
}
.search-icon img{
  height: 30px;
}
.image{
text-align: center;
height: 300px;
margin-bottom: 15px;
margin-top: 70px;

}
.icon-image{
  width: 250px;
  height: 250px; 
}
.temp, .location, .country{
  margin-top: 15px;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
.temp{
  font-weight: 500;
}
.location{
  color: #ffbc00;
  font-weight: 400;
  
}
.country{
  font-size: 30px;
  color: #888;
  font-weight: 500;
}
.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  text-align: center;

}
.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.cord div span{
  font-size: 20px; 
}
.humidity-percent,.wind-percent,
.cord div span:nth-child(2){
  font-size: 25px;
  font-weight: bold;
  color: #666;
  padding-top: 7px;
}
.icon{
  width: 60px;
  height: 60px;

}
.data-container{
 
 padding: 20px;
  display:flex;
justify-content: space-between;
margin-top: 20px;
}
.element{
  text-align: center;
}
.text{
  font-size: 16px;
  color: #888;
}
.loding-message,.error-message,.city-not-found{
  margin-top: 10px;
  color:#888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}